/* Resetting default margins/paddings */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styles for the navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  .navbar img {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    /* justify-content: center; */
  }
  
  .nav-links li {
    margin-right: 30%;
  }
  
  .nav-links a {
    /* color: white; */
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .search-bar input {
    padding: 8px;
    border: 1px solid;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #45a049;
  }
  
  .logOut{
    display: flex;
  }
  #logoutBtn{
    padding: 8px 15px;
  }